*{
	margin: 0;
	padding:0;
}

body{
	font-family: font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
}

h1{
	text-transform: uppercase;
	font-size: 36px;
}

h2{
	text-transform: uppercase;
	font-size: 18px;
}

.img2{max-width: 50%;
	
}

/* Generales*/
.container{
	max-width: 580px;
	margin: 0 auto;
	margin-bottom: 0;
}

.container-large{
	max-width: 960px;
	margin: 0 auto;
}

.button{
	background-color: blue;
	color: white;
	border-radius: 5px;
	padding: 15px;
	text-decoration: none;
	display: inline-block;
	margin:8px;
	transition: all 0.3s;
}

.button:hover{
	background-color: gold;
}

.buttongreen{
	background-color: green;
}

.buttongreen:hover{
	background-color: red;
}

.buttonenvio{
	font-size: 35px;
}
/*  HEADER */

header{
	color:white;
	text-align: center;
	padding:100px 0 100px 0 ;
	background-image: url('images_cv/bg.jpeg');
}

/* navegacion */

nav ul{
	list-style: none;
	float: right;
}

.logo{
	float: left;
}
.logo img{
	width: 125px
}
nav ul li{
	display: inline-block;
	padding: 10px;
}

nav ul li a {color:white;
			text-decoration: none;
			opacity: 0.5;
			transition: opacity 0.3s;
}

nav ul li a:hover{
	opacity: 1;
}

.fondogris{
	background-color: #F2F2F2;
	max-width: 100%;
	border-top:solid grey 1px;
	border-bottom: solid grey 1px;
	padding-top: 40px;
	padding-bottom: 60px;

}

.superior{
	padding-top: 20px;
}

.textocentrado{
	padding-left: 27%;
	padding-right: 27%;
}

.final{
	background-color: #151515;
	width: 100%;
	height: 50px;  
}

.g8{
	text-align: left;
	color:white;
	padding-top: 20px;
	margin-left: 15%;
}

.contacto{
	max-width: 100%;
	height: 200px;
}

.izquierda{
	margin-top: 50px;
	padding-top: 20px;
	display: block;
	float: left;
	margin-left: 27%;
	text-align: left;
}

.email{
	position: absolute;
	float: left;
	margin-top: -2%;
	margin-left: 173px;
}

.derecha{
	margin-top: 50px;
	padding-top: 20px;
	display: block;
	margin-left: 13%;
	text-align: left;
	float: left;

}

.cajadetexto{
	font-size: 15px;
	margin-right: 5px;
}

	


